[submodule "themes/nostyleplease"]
	path = themes/nostyleplease
	url = https://github.com/hanwenguo/hugo-theme-nostyleplease
[submodule "themes/archie"]
	path = themes/archie
	url = https://github.com/athul/archie
